name: Upgrade dependencies

on:
  workflow_call:
    secrets:
      gh_pat:
        required: true

jobs:
  upgrade:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: snok/install-poetry@v1
      - uses: actions/setup-python@v6
        with:
          python-version: "3.13"
          cache: "poetry"
      - run: rm poetry.lock
      - run: poetry lock -n
      - uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ secrets.gh_pat }}
          branch: update/poetry-upgrade
          title: "chore(deps): upgrade dependencies"
          commit-message: "chore(deps): upgrade dependencies"
