name: Lint Typescript Project

on:
  workflow_call:

jobs:
  lint:
    strategy:
      fail-fast: false
      matrix:
        linter:
          - eslint
          - prettier
          - tsc
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: "npm"
          node-version-file: ".nvmrc"
      - run: npm ci
      - run: npm run lint:${{ matrix.linter }}
